<div class="row">
  <div class="col-md-3 mr-5">
    <%= render "public/searches/genre_sidebar", genres: @genres %>
  </div>

  <div class="col-md-8">
    <h3>
      商品一覧
      <span style="font-size:20px;">（全<%= @products.total_count %>件）</span>
    </h3>
    <%= render "public/products/index", products: @products %>

    <div class="mt-5">
      <%= paginate @products %>
    </div>
  </div>
</div>