<div class="text-center">
  <h1 class="pb-3">About</h1>
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p>様々なバリエーションをご用意しております。</p>
  <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p>
</div>

<div class="text-center pt-3">
  <%= image_tag "fruit_tart.jpg", class: "about-image" %>
</div>
    
<div class="container-lg">
  <div class="row pt-5">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.48882437564!2d139.7048645156123!3d35.68958673712038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dead5325df5%3A0x6db7f8e2d19bb61b!2zRE1NIFdFQkNBTVAg5paw5a6_5qCh!5e0!3m2!1sja!2sjp!4v1637488598437!5m2!1sja!2sjp" width="500" height="240" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-md-6">
      <table class="table table-light table-borderless border">
        <thead class="table-active">
          <tr>
            <th class="text-center text-white bg-dark">ながのCAKE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>〒160-0022</td>
          </tr>
          <tr>
            <td>東京都新宿区新宿2-5-10 成信ビル 4階</td>
          </tr>
          <tr>
            <td>電話番号：03-6869-4700</td>
          </tr>
          <tr>
            <td>※新宿駅東南口より徒歩7分</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>