<h3 class="offset-1">会員一覧</h3>

<div class="row offset-2 col-8 mt-3">
  <table class="table table-light table-striped">
    <thead>
      <tr class="text-white bg-dark">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name_no_blanks, admin_customer_path(customer), class: "text-dark", style: "text-decoration: underline" %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted? %>
            <span class="text-secondary"><strong>退会</strong></span>
          <% else %>
            <span class="text-success"><strong>有効</strong></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>
