<div class="row offset-2">
  <h3>商品一覧</h3>

  <div class="offset-6 col-1">
    <%= link_to new_admin_product_path, class: "shadow-sm btn btn-light border-secondary", style: "border-radius:100px;" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>

<%= render "index", products: @products %>